/* App-specific styles */
/* Global styles are in index.css */

h1 {
  color: #ffffff;
  font-family: "Funnel Display", sans-serif !important;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px;
}

h2 {
  color: #010907;
  font-family: "Funnel Display", sans-serif !important;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

h3 {
  color: #010907;
  font-family: "Funnel Display", sans-serif !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

h4 {
  font-family: "Funnel Display", sans-serif !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  text-transform: capitalize;
}

h5 {
  font-family: "Funnel Display", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  text-transform: capitalize;
}

h6 {
  color: #010907;
  font-family: "Funnel Display", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.quick-links {
  font-family: "Inter";
  font-size: 16px !important;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.quick-links:hover {
  color: #5cddc6;
}

.quick-heading {
  font-family: "Funnel Display", sans-serif;
  font-size: 18px;
  line-height: 20.99px;
  color: white;
  font-weight: 700;
}

.time-zone {
  font-family: "Inter";
  font-size: 14px;
  line-height: 22px;
  color: white;
  font-weight: 400;
}

.description {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.btn_primary {
  display: flex;
  padding: 12px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #0d8360;
  color: #fff;
  font-family: "Funnel Display", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  cursor: pointer;
  text-transform: capitalize;
}
.btn_primary:hover {
  background: #0a6b4f;
}

.btn_secondary {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #fff;
  color: var(--Primary-Color-900, #010907);
  font-family: "Funnel Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  cursor: pointer;
  text-transform: capitalize;
}
.btn_secondary:hover {
  background: rgba(13, 131, 96, 0.08);
  color: #fff;
  background: rgba(13, 131, 96, 0.08);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h5 {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    line-height: 22px;
  }
  .description {
    font-size: 14px;
    line-height: 22px;
  }
  .quick-links {
    font-size: 14px;
    font-weight: 300;
  }
  .quick-heading {
    font-size: 16px;
    font-weight: 500;
  }

  /* Button styles */
}
